.mat-column-producer {
  width: 300px;
}
.mat-column-interval {
  width: 150px;
}
.mat-column-previousWin {
  width: 150px;
}
.mat-column-followingWin {
  width: 150px;
}

.card {
  padding: 16px;
  margin: 10px 20px 40px 20px;

  -webkit-box-shadow: 2px 2px 5px 0px #a9a9a9;
  -moz-box-shadow: 2px 2px 5px 0px #a9a9a9;
  box-shadow: 2px 2px 5px 0px #a9a9a9;
}

.table-container {
  height: 45vh;
  max-height: 60vh;
  overflow: scroll;
  margin-bottom: 30px;
}

.table {
  width: 100%;
}